{% extends 'admin.html.twig' %}

{% block title %}  Catalogue 
{% endblock %}
{% block body %} <h1> Catalogue </h1>
<div class='table-responsive'>
    <table class='table'>
        <thead><tr><th>Nom </th><th>Datestart </th><th>Dateend </th><th>Image </th><th>Lien </th><th>Fichier </th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for  catalogue  in  catalogues  %}
            <tr>
<td>{{catalogue.nom}}</td>
<td>{{catalogue.datestart ? catalogue.datestart|date('Y-m-d H:i:s') : ''}}</td>
<td>{{catalogue.dateend ? catalogue.dateend|date('Y-m-d H:i:s') : ''}}</td>
<td>{{catalogue.image}}</td>
<td>{{catalogue.lien}}</td>
<td>{{catalogue.fichier}}</td><td>
                    <form method='post' action="{{ path('catalogue_delete', {'id':  catalogue.id }) }}" 
                    onsubmit="return confirm('Etes-vous sûr de vouloir effacer cet item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~  catalogue . id ) }}">
                        <a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Voir' href="{{ path('catalogue_show', {'id':  catalogue.id }) }}"><i class="icone fas fa-glasses "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Editer' href="{{ path('catalogue_edit', {'id':  catalogue.id }) }}"><i class="icone fas fa-pen "></i></a>
                        <a class='btn btn-xs btn-secondary' data-toggle='tooltip' title='Dupliquer' href="{{ path('catalogue_copy', {'id':  catalogue.id }) }}"><i class="icone fas fa-copy "></i></a>

                        <button class="btn btn-xs btn-warning "><i class="icone fas fa-trash "></i></button>
                    </form>
            </tr>
            {% else %}
            <tr>
                <td colspan=8>Aucun enregistrement</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div><a href="{{ path('catalogue_new') }}"><button class="btn btn-secondary" type="button">Ajouter</button></a>
{% endblock %}